.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

input[type="file"] {
  display: none;
}

.custom-file-input {
  border: 1px solid #afafaf;
  display: inline-block;
  border-radius: 5px;
  padding: 6px 12px;
  color: white;
  background-color: #2875bd;
}

.custom-file-input:hover {
  cursor: pointer;
  background-color: #153a5d;
}

.message {
  margin-top: 10px;
  color: red;
}

.App-body {
  margin: 180px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
